aside, div, section, header, footer, nav {
	display: block;
}
*{
	box-sizing: border-box;
}
header{
	width: 100%;
	background-color: white;
	height: 60px;
}
header nav{
	display: none;
}
h1{
	padding: 10px;
	font-size: 0.8em;
	color: white;
}
body{
	font-family: 'Indie Flower', cursive;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#wrapper_first header{
	text-align: center;
	height: 40px;
	font-size: 40px;
	background-color: transparent;
	padding-bottom: 5px;
}
#wrapper_first section{
	width: 100%;
}
#wrapper_first section li{
	height: 60px;
}
input, select, textarea{
	border-radius: 5px;
	font-size: 1.2em;
}
input[type=text], input[type=tel],input[type=email], input[type=number],input[type=textarea]{
	padding-left: 5px;
	margin: 0;
	height: 40px;
}
input[type=radio], input[type=checkbox]{
	display: inline-block;
}
input[type=submit]{
	font-size:1.5em;
	letter-spacing: 5px;
	text-transform: uppercase; 
	display: block;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 0;
	float: right;
}
select{
	padding: 7px;
}
label{
	font-size: 1.3em;
	color: white;
}
label.label_styling{
	padding-left: 10px;
	margin: 0;
}
aside ul{
	display: none;
}
aside ul li{
	margin-top: 30px;
}
aside ul li p:first-child{
	text-transform: capitalize;
	color:white;
}
aside ul li p:last-child{
	color:white;
}
aside{
	width: 100%;
	text-align: center;
}
aside:nth-of-type(1){
	
}
aside:nth-of-type(2){
	display: none;
}
footer{
	position: relative;
	text-align: center;
	color: white;
}
@media screen and (max-width: 768px){
	label.label_styling{
		display: none;
	}
}
@media screen and (min-width: 768px){
	aside ul{
		display: block;
	}
	hr{
		display: none;
	}
}