aside, div, section, header, footer, nav {
	display: block;
}
*{
	box-sizing: border-box;
}
header{
	width: 100%;
	background-color: red;
	height: 60px;
}
header nav{
	display: none;
}
h1{
	padding: 10px;
	font-size: 0.8em;
}
#wrapper_first header{
	text-align: center;
	height: 40px;
	font-size: 40px;
	background-color: transparent;
	padding-bottom: 5px;
}
#wrapper_first section{
	width: 100%;
}
#wrapper_first section li{
	height: 40px;
}
input, select, textarea{
	border-radius: 5px;
}
input[type=text], input[type=tel],input[type=email], input[type=number],input[type=textarea]{
	padding-left: 5px;
	margin: 0;
	height: 25px;
	letter-spacing: 3px;
}
input[type=radio], input[type=checkbox]{
	display: inline-block;
}
input[type=submit]{
	font-family: 'Indie Flower', cursive;
	font-size:1.5em;
	letter-spacing: 5px;
	text-transform: uppercase; 
	display: block;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 6px 0;
}
label{
	font-family: 'Indie Flower', cursive;
	font-size: 1.3em;
}
label.label_styling{
	padding-left: 10px;
	margin: 0;
}
aside ul{
	display: none;
}
aside{
	width: 100%;
	text-align: center;
}
aside:nth-of-type(2){
	 z-index: 999;
}
footer{
	position: relative;
	text-align: center;
}